body{
  margin: 0;
  padding: 0;

  .navHeading{
  display: flex;
  justify-content: center;
  /* border: solid; */
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  }
  
  .tableCard{
    margin-top: auto;
    border: solid;
  }
  .actionButtons{
    display: flex;
    gap: 4px;
    justify-content: end;
    margin-right:4px;
    button{
      width: 5rem;
      margin-bottom: 2px;
      border-radius: 6px;
      background-color: aqua;
    }
  }
}
.mainTableDIV{
table {
  border:1px solid rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  #tableHeading{
    background-color: aqua;
  }
}
th, td{
  margin: 0px;
  border-right: 1px solid;
}
table{
  width: 100%;
}
}

